/*
Theme Name: ZORX Growth Engine
Theme URI: https://zorx.ae
Author: ZORX Digital
Author URI: https://zorx.ae
Description: Custom Elementor-compatible theme for ZORX Digital Marketing Agency.
Version: 1.0.0
Text Domain: zorx-theme
Template: 
Tags: elementor-compatible, custom-widgets
*/

/* 
 * This theme relies on Elementor for page building.
 * Base styles are loaded from assets/css/main.css 
 */
